.custom-button {
  display: block;
  width: 100px;
  height: 40px;
  margin: 20px auto;
  border: none;
  background-color: #ffffff;
  transition: all 0.5s;
  opacity: 0.7;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    opacity: 1;
    transform: scale(1.03);
  }
}

.custom-button.google {
  width: 90%;
  background-color: #da3d28;
  box-shadow: 0 2px 10px #da3d28;
  color: #ffffff;
}