 .menu-preview.hide{
  display: none;
};

.menu-preview.active {
  position: absolute;
  animation: showAnim 1s ease forwards;
  top: 0;
  width: 30vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);

  .menu-preview-title {
    position: relative;
    margin: 10px 0;
    text-align: center;

    h1 {
      font-size: 35px;
    }
  }

  .menu-preview-close {
    position: absolute;
    font-size: 40px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0.6;

    &:hover {
      opacity: 0.9;
    }
  }

  .menu-items {
    margin-top: 30px;
  }
}

@keyframes showAnim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and(max-width: 1024px) {
  .menu-preview.active {
    width: 40%;

    .menu-preview-title {
      h1 {
        font-size: 30px;
      }

      .menu-preview-close {
        font-size: 35px;
      }
    }

    .menu-items {
      margin-top: 20px;
    }
  }
}

@media screen and(max-width: 768px) {
  .menu-preview.active {
    width: 50%;

    .menu-preview-title {
      h1 {
        font-size: 30px;
      }

      .menu-preview-close {
        font-size: 35px;
      }
    }

    .menu-items {
      margin-top: 20px;
    }
  }
}

@media screen and(max-width: 425px) {
  .menu-preview.active {
    width: 70%;

    .menu-preview-title {
      h1 {
        font-size: 25px;
      }

      .menu-preview-close {
        font-size: 30px;
      }
    }

    .menu-items {
      margin-top: 20px;
    }
  }
}
