.modal-window.hide {
  display: none;
}

.modal-window.active {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  animation: opacityAnim 1.5s ease;

  .modal-window-block {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 30vh auto;
    text-align: center;
    color: black;

    .title {
      font-size: 20px;
    }

    .subtitle {
      opacity: 0.6;
    }

    .modal-window-close {
      position: absolute;
      font-size: 25px;
      right: 5px;
      top: 0;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        transform: rotate(180deg);
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
};

@keyframes opacityAnim {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
};

@media screen and(max-width: 425px) {
  .modal-window.active {
    .modal-window-block {
      width: 70%;
    }
  }
}