.menu-item {
  .menu-item-block {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 1s;
    cursor: pointer;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);

      img {
        animation: anim 1s ease;
      }
    }

    .title {
      font-size: 20px;
      margin-left: 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
  
    img {
      width: 50px;
      transition: all 0.5s;
    }
  }
}

@keyframes anim{
  0%{
    transform: rotate(0);
  } 
  33% {
    transform: rotate(20deg);
  } 
  69% { 
    transform: rotate(-20deg);
  }
  100% { 
    transform: rotate(0);
  }
}

@media screen and(max-width: 1024px) {
  .menu-item {
    .menu-item-block {
      .title {
        font-size: 20px;
        margin-left: 20px;
      }

      img {
        width: 40px;
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .menu-item {
    .menu-item-block {
      .title {
        font-size: 18px;
        margin-left: 15px;
      }

      img {
        width: 40px;
      }
    }
  }
}

@media screen and(max-width: 425px) {
  .menu-item {
    .menu-item-block {
      .title {
        font-size: 15px;
        margin-left: 10px;
      }

      img {
        width: 30px;
      }
    }
  }
}